#p1 {
    font-size: larger;
    color: rgb(0, 0, 0);   
    font-size: 25px;
    font-weight: 700;
}

#Usuarios {
    font-size: 20;
    border-color: black;
    border-radius: 20px;
    height: 20px;
    width: 90px;
    top: auto;
}

